**/*.csv
**/*.xlsx
**/*.xls
**/*.doc
**/*.docx
**/*.ppt
**/*.pptx
**/*.pkl
**/*.tar.gz
**/*.zip
**/*.npy
**/*.txt
**/*.dat
**/*.pyc
**/*.mp4
**/*.wav
**/*.xlsm
**/*.log
**/__pycache__
**/openpyxl-3.0.0
**/spark-warehouse
**/metastore_db